body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Mantén la altura del body al 100% del viewport */
    overflow: hidden;
}

.profile-container {
    width: 95%; /* Ajusta el ancho según tu preferencia */
    max-width: 1400px; /* Ancho máximo del contenedor */
    margin: auto; /* Centra el contenedor */
    animation: fadeIn 1s ease-in-out;
}

.profile-title, .subtitle {
    text-align: center;
}

.profile-title {
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 10px;
    color: #333;
}

.subtitle {
    font-size: 20px;
    color: #666;
    margin-bottom: 30px;
}

.profile-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    animation: slideUp 1s ease-in-out;
    width: 100%; /* Ajusta el ancho para llenar más espacio */
    height: 75vh; /* Ajusta la altura para llenar más espacio vertical */
    box-sizing: border-box;
}

.profile-section {
    flex: 1;
    min-width: 200px;
    margin: 20px;
    transition: transform 0.3s ease;
    box-sizing: border-box;
    text-align: left; /* Asegura que el texto no cambie */
}

.profile-section:hover {
    transform: scale(1.05);
}

.profile-section h2 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
}

.about p, .details p {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
    line-height: 1.6;
}

.credits {
    font-size: 12px;
    color: #999;
}

.credits a {
    color: #007bff;
    text-decoration: none;
}

.credits a:hover {
    text-decoration: underline;
}

.photo {
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center; /* Centra la imagen verticalmente */
    width: 100%; /* Ocupa todo el ancho disponible */
}

.photo img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
    transition: transform 0.3s ease;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.profile-section:hover .photo img {
    transform: scale(1.1);
    border-color: #007bff;
}

.social-icons a:hover {
    transform: scale(1.2);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
