body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make sure the body height is 100% of the viewport */
    overflow: hidden;
}

.profile-container {
    width: 95%; /* Adjust the width to your preference */
    max-width: 1400px; /* Maximum width of the container */
    text-align: center;
    animation: fadeIn 1s ease-in-out;
    margin: auto; /* Center the container */
}

h1 {
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 10px;
    color: #333;
}

.subtitle {
    font-size: 20px;
    color: #666;
    margin-bottom: 30px;
}

.profile-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    animation: slideUp 1s ease-in-out;
    width: 100%; /* Adjust the width to fill more space */
    height: 75vh; /* Adjust the height to fill more vertical space */
    box-sizing: border-box;
}

.profile-section {
    flex: 1;
    min-width: 200px;
    margin: 20px;
    transition: transform 0.3s ease;
    box-sizing: border-box;
}

.profile-section:hover {
    transform: scale(1.05);
}

.profile-section h2 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #333;
}

.about p,
.details p {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
    line-height: 1.6;
}

.credits {
    font-size: 12px;
    color: #999;
}

.credits a {
    color: #007bff;
    text-decoration: none;
}

.credits a:hover {
    text-decoration: underline;
}

.photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #ddd;
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
    transition: transform 0.3s ease;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.profile-section:hover .photo img {
    transform: scale(1.1);
    border-color: #007bff;
}

.social-icons a:hover {
    transform: scale(1.2);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
